/* Estilos personalizados para Urgentias */

/* Variables de colores personalizados */
:root {
    --primary-color: #00B2A9; /* Teal */
    --secondary-color: #4B0082; /* Indigo */
    --accent-color: #FFD700; /* Gold */
    --highlight-color: #C71585; /* Medium Violet Red */

    /* Sobrescribir variables de Bootstrap */
    --bs-primary: var(--primary-color);
    --bs-secondary: var(--secondary-color);
    --bs-success: var(--accent-color);
    --bs-danger: var(--highlight-color);
    /* Puedes continuar sobrescribiendo otras variables según sea necesario */
}
