<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Urgentias{% endblock %}</title>
  {% import 'macros.html' as macros %}
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
  {% include 'navbar.html' %}
  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {{ macros.render_alerts(messages) }}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  {% include 'footer.html' %}
  {% block scripts %}{% endblock %}
</body>
</html>
