<footer class="footer p-10 bg-base-100 text-base-content">
  <div>
    <span class="footer-title">Servicios</span>
    <a class="link link-hover">Atenciones</a>
    <a class="link link-hover">Reportes</a>
    <a class="link link-hover">Usuarios</a>
  </div>
  <div>
    <span class="footer-title">Empresa</span>
    <a class="link link-hover">Sobre Nosotros</a>
    <a class="link link-hover">Contacto</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Política de Privacidad</a>
    <a class="link link-hover">Términos de Servicio</a>
  </div>
</footer>