{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block title %}Lista de Atenciones{% endblock %}
{% block content %}
<h1>Lista de Atenciones</h1>
<form id="crearAtencionForm" hx-post="{{ url_for('main.extraccion_datos_inicio_paciente_route') }}" hx-target="body" method="POST">
  {{ form_datos_inicio_paciente.hidden_tag() }}
  {{ macros.render_form_field(form_datos_inicio_paciente.datos_inicio_paciente_raw_text) }}
  {{ form_datos_inicio_paciente.submit() }}
</form>
<ul>
{% for atencion in atenciones %}
  <li>
    {{ atencion.tiempo_desde_creacion }} - {{ atencion.paciente.run }} - {{ atencion.paciente.nombre or 'N/A' }}
    <a hx-get="{{ url_for('main.detalle_atencion_route', atencion_id=atencion.id) }}" hx-target="body">Ver</a>
    <a hx-get="{{ url_for('main.generacion_reporte_route', atencion_id=atencion.id, tipo_reporte='alta_ambulatoria') }}" hx-target="body">Reporte</a>
    <form hx-post="{{ url_for('main.cierre_atencion_route', atencion_id=atencion.id) }}" method="POST" style="display:inline">
      {{ form_cierre_atencion.hidden_tag() }}
      {{ form_cierre_atencion.submit() }}
    </form>
  </li>
{% endfor %}
</ul>
{% endblock %}
