{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
<h2>Iniciar Sesión</h2>
<form hx-post="{{ url_for('auth.login') }}" hx-target="body" method="POST">
  {{ form.hidden_tag() }}
  {{ macros.render_form_field(form.email) }}
  {{ macros.render_form_field(form.password) }}
  {{ macros.render_form_checkbox(form.remember) }}
  {{ form.submit() }}
</form>
<p>¿No tienes una cuenta? <a hx-get="{{ url_for('auth.register') }}" hx-target="body">Regístrate aquí</a>.</p>
{% endblock %}
