{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div style="max-width: 400px; width: 100%;">
    <h2 class="mb-4 text-center">Iniciar Sesión</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
      {{ form.hidden_tag() }}
      {{ macros.render_form_field(form.email) }}
      {{ macros.render_form_field(form.password) }}
      {{ macros.render_form_checkbox(form.remember) }}
      <div>
        {{ form.submit(class="btn btn-primary w-100") }}
      </div>
    </form>
    <p class="mt-3 text-center">¿No tienes una cuenta? <a href="{{ url_for('auth.register') }}">Regístrate aquí</a>.</p>
  </div>
</div>
{% endblock %}
