{% macro render_form_field(field, attrs={}) %}
<div>
  {{ field.label }}
  {{ field(**attrs) }}
  {% if field.errors %}
    {% for error in field.errors %}
    <div>{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
{% endmacro %}

{% macro render_form_checkbox(field, attrs={}) %}
<div>
  {{ field(**attrs) }} {{ field.label }}
  {% if field.errors %}
    {% for error in field.errors %}
    <div>{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
{% endmacro %}

{% macro render_alerts(messages) %}
{% if messages %}
  {% for category, message in messages %}
  <div>{{ message }}</div>
  {% endfor %}
{% endif %}
{% endmacro %}
