<nav class="navbar bg-base-100 shadow-md">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="{{ url_for('main.lista_atenciones_route') }}">
      Urgentias
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('main.lista_atenciones_route') }}">Atenciones</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
      <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
      {% endif %}
    </ul>
  </div>
</nav>