{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<h2>Registrarse</h2>
<form hx-post="{{ url_for('auth.register') }}" hx-target="body" method="POST">
  {{ form.hidden_tag() }}
  {{ macros.render_form_field(form.email) }}
  {{ macros.render_form_field(form.password) }}
  {{ macros.render_form_field(form.confirm_password) }}
  {{ form.submit() }}
</form>
<p>¿Ya tienes una cuenta? <a hx-get="{{ url_for('auth.login') }}" hx-target="body">Inicia sesión aquí</a>.</p>
{% endblock %}
