{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>{{ titulo }}</h2>

  <h3>Datos del Paciente</h3>
  <p><strong>Nombre:</strong> {{ atencion.paciente.nombre or 'N/A' }}</p>
  <p><strong>RUN:</strong> {{ atencion.paciente.run }}</p>
  <p><strong>Edad:</strong> {{ atencion.paciente.edad }} años</p>

  <h3>Reporte</h3>
  <p>{{ reporte | nl2br }}</p>

  <p>
    <a href="{{ url_for('main.lista_atenciones_route') }}" class="btn btn-primary">Volver a la Lista de Atenciones</a>
    <a href="{{ url_for('main.detalle_atencion_route', atencion_id=atencion.id) }}" class="btn btn-secondary">Volver a
      Detalle
      de Atención</a>
  </p>
</div>
{% endblock %}